body {
    background-color: rgb(178, 151, 151);
  
}
p{
    font-size: 1.2rem;
    font-weight: 500;
    margin: .5rem;
}
nav{
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

}
.card {
    margin: 0;
    width: 260px;
    height: 400px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
    border: .5rem solid white;
    background: rgb(247, 247, 247);
    color: rgb(206, 56, 56);
    box-shadow: 0 0 2rem rgba(0,0,0,.2);
}

.card aside {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card aside.top {
    margin: .5rem;
    align-self: flex-start;
}

.card aside.bottom {
    transform: rotate(180deg);
    margin: .5rem;
    align-self: flex-end;
}
footer{
    flex-direction: row;
}
button{
    height: 2rem;
    border-radius: 5px;
    border: 1px solid black;
}